.fa-whatsapp{
	color: green;
	padding-bottom: 10px;
}
.fa-tiktok{
	color:navajowhite;
	padding-bottom: 10px;
}
.fa-instagram{
	color: white;
}
.fa-facebook {
	color:skyblue;
	padding-bottom: 10px;
}
.icons{
	text-align: center;
	padding-bottom: 10px;
}
html{
	background-image: url('naya.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
	background-attachment: fixed;
}
h6{
	text-align: center;
	color: snow;
}
h2{
	text-align: center;
}
}
i{
	font-family: cursive;
}
.icons:hover{
	color: peachpuff;
}
